@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>
<h2>@ViewData["Message"]</h2>

<h3>Blogposts</h3>
<p>This is the main thing, you can create blogposts with a title and body text!</p>
<p>You can also edit and remove the blogposts you created.</p>

<h3>Comments</h3>
<p>You can also comment on these blogposts.</p>

<h3>Users</h3>
<p>The users are selectable when you create a blogpost or comment.</p>
<p>A user's profile contains all of that person's blogposts.</p>
<p>You can manage the users <a href="/blog/users">here</a></p>