@model AuthorModel;
    <div>
        <h1>Add user</h1>
        <form asp-controller="Blog" asp-action="NewUser" class="form-inline">
            <div class="form-group">
                <label for="authorname">Name:</label>
                <input asp-for="AuthorName" id="authorname" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
