@model CommentList;
<h1>Comments</h1>
@foreach(var comment in Model.Comments) {
    <div>
        <p>@comment.Content</p>
        <p>Posted by: @comment.AuthorId at @comment.CreatedAtAction</p>
    </div>
}