@model PostCreate;
    <div>
        <h1>Create post</h1>
        <form asp-controller="Blog" asp-action="NewPost">
            <div class="form-group">
                <label for="posttitle">Title:</label>
                <input asp-for="Post.Title" id="posttitle" class="form-control" />
                <span asp-validation-for="Post.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="postcontent">Content: </label>
                <textarea asp-for="Post.Content" id="postcontent" class="form-control"></textarea>
                <span asp-validation-for="Post.Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="authorselect">Author:</label>
                <select asp-for="Post.AuthorId" class="form-control" id="authorselect">
                    @foreach(var author in Model.Authors) {
                        <option value="@author.AuthorId">@author.AuthorName</option>
                    }
                </select>
                <span asp-validation-for="Post.AuthorId" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
