@model BlogPostModel;
@{var post = Model;}
    <div>
        <form asp-controller="Blog" asp-action="SaveEdit">
            <input asp-for="Title" />
            <textarea asp-for="Content"></textarea>
            <button type="submit">Submit</button>
        </form>
        <a asp-controller="blog" asp-action="post" asp-route-id="@post.PostId">Back to post</a>
    </div>
